<div class="columns is-centered">
  <div class="column is-two-fifths">
    <h2 class="title is-2">Log in</h2>
    <div class="card">
      <div class="card-content">
        <%= form_for(resource, as:resource_name, url: session_path(resource_name)) do |f| %>
          <div class="field">
            <%= f.label :email, class: "label" %>
            <div class="control">
              <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "input" %>
            </div>
          </div>
          
          <div class="field">
            <%= f.label :password %>
            <div class="control">
              <%= f.password_field :password, autocomplete: "current-password", class: "input" %>
            </div>
          </div>

          <% if devise_mapping.rememberable? %>
            <div class="field">
              <label class="checkbox">
                <%= f.check_box :remember_me %>
                Remember me
              </label>
            </div>
          <% end %>

          <div class="actions">
            <%= f.submit "Log in", class: "button is-link" %>
          </div>
        <% end %>
        <%= render "users/shared/links" %>
      </div>
    </div>
  </div>
</div>
