<div class="columns is-centered mt-5">
    <div class="column is-two-fifths">
        <div class="card">
            <div class="card-content">
                <article class="media">
                    <figure class="media-left">
                        <p class="image is-48x48">
                            <img src="https://bulma.io/images/placeholders/128x128.png">
                        </p>
                    </figure>
                    <div class="media-content mt-1">
                    <%= form_with url: posts_path, method: :post do |form| %>
                        <%= form.text_field :post, placeholder: "What's on your mind?", class: "input is-rounded" %>
                        <%= form.text_field :user_id, value: current_user.id, class: "is-hidden" %>
                        <%= form.submit class: "is-hidden" %>
                    <% end %>
                    </div>
                </article>
            </div>
        </div>
        <div class="columns is-mobile">
            <div class="column">
            <% @posts.each do |post| %>
                <div class="card mt-5">
                    <div class="card-content">
                    <article class="media">
                        <figure class="media-left">
                            <p class="image is-48x48">
                                <img src="https://bulma.io/images/placeholders/128x128.png">
                            </p>
                        </figure>
                        <div class="media-content">
                            <div class="content">
                                <p>
                                    <strong><%= post.user.name %></strong>
                                    <br>
                                    <small class="is-size-7"><%= time_ago_in_words(post.created_at) %> ago</small>
                                    <br>
                                    <br>
                                    <%= post.post %>
                                    <% if !post.like.nil? %>
                                    <br>
                                    <br>
                                    <small><i class="fas fa-thumbs-up"></i><%= post.like.like %> Likes</small>
                                    <% end %>
                                </p>
                            </div>
                        </div>
                    </article>
                    </div>
                    <footer class="card-footer">
                        <a href="#" class="card-footer-item"><i class="fas fa-thumbs-up"></i> Like</a>
                        <a href="#" class="card-footer-item"><i class="fas fa-comment"></i>Comment</a>
                        <a href="#" class="card-footer-item"><i class="fas fa-share"></i>Share</a>
                    </footer>
                </div>
                <% end %>
            </div>
        </div>
    </div>
</div>